<article>
  <h3>
    <% if(abbreviate) %>
      <%= link_to entry.title, entry %>
    <% else %>
      <%= entry.title %>
    <% end %>
  </h3>
  <h5>
    By <%=entry.author %>
  </h5>
 
  
  <p>
    <% words = entry.content.split(' ')
    if(abbreviate && words.length>100) %>
      <%= entry.getFirst(100) %>  ... 
      <%= link_to '[more]', entry %>
    <% else %>
      <%= entry.content.html_safe %>
    <% end %>
  </p>
  
  <% if(!entry.url.nil? && entry.url.length > 0) %>
    Source: <%= link_to entry.url, entry.url %>
    <br />
  <% end %>
  
  <br />
  
  <div class="text-right">
    <%= link_to 'Edit', edit_entry_path(entry) %>
    <span>&nbsp;&nbsp;</span>
    <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</article>
<hr />
