<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field" style="padding-bottom:40px">
    <%= f.label "Choose a Section:" %>
    <br />
    <% Section.all.each do |sec| %>
      <div class="left" style="padding-right:30px">
      <%= f.label "#{:section_id}_#{sec.id}", sec.title %>
      <%= f.radio_button :section_id, sec.id, checked: @entry.nil? || @entry.section == sec %>
      </div>
    <% end %>
  </div>

  <br />
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "tinymce", :rows => 140, :cols => 120 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
