<h1>Listing news</h1>

<% @news.each do |news| %>
  <article>
    <h3><%= link_to news.title, news %></h3>
    <p>
     <% words = news.content.split(' ')
     if(words.length > 100) %>
      <%= words[0...100].join(' ') %> 
      ... 
      <%= link_to '[more]', news %>
      <% else %>
      <%= news.content %>
      <% end %>
    </p>
    <% if(news.url.length > 0) %>
      <%= link_to '[src]', news.url %>
    <% end %>
    
    <div class="text-right">
      <%= link_to 'Edit', edit_news_path(news) %>
      <span>&nbsp;&nbsp;</span>
      <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </article>
  <hr />
<% end %>

<br />

<%= link_to 'New News', new_news_path %>
