<% content_for :title do %>
  <title>The Native Portal | News -  <%= @news.title %></title>
<% end %>

<% content_for :Content do %>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Title:</b>
    <%= @news.title %>
  </p>

  <p>
    <b>Content:</b>
    <%= @news.article %>
  </p>


  <%= link_to 'Edit', edit_news_path(@news) %> |
  <%= link_to 'Back', news_path %>
<% end %>
