<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <% if(@title.nil?) %>  
    <title>Native Portal</title>
  <% else %>
    <title>Native Portal | <%=@title%></title>
  <% end %>
  <%= stylesheet_link_tag "application", :media => "all"%>
</head>
<body>

  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <%= link_to image_tag("banner.png", { :class=>"left"}), :main_index %>
      <div class="nav-bar left clear">
        <ul class="button-group">
          <li><%=link_to "Home", :main_index, { :class=>"button"}%></li>
          <% Section.all.each do |sec| %>
            <li><%= link_to sec.title, sec, { :class=>"button"}%></li>
          <% end %>
        </ul>
      </div>
    <span class="right">
      <% if user?%>
        <%=link_to "Logout", :logout, { :class=>"small success button"}%>
        <br />
        Hi <%=get_user.name %>!
      <% else %>
        <%=link_to "Login", :login, { :class=>"small success button"}%>
      <% end %>
     </span>
    <hr />
    </div>
     
  </div>

  <!-- End Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
      
      <% if flash[:error] %>
        <div class="error alert-box alert text-center"><%=h flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notice alert-box text-center success"><%=h flash[:notice] %></div>
      <% end %>
      
      <%= yield %>
    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

      <h5>Categories</h5>
      <ul class="side-nav">
        <% Section.all.each do |sec| %>
          <li><%= link_to sec.title, sec %></li>
        <% end %>
      </ul>

      <div class="panel">
        <h5>Featured:</h5>
        <% feat = Entry.order("updated_at desc").first %>
        <p>
          <b>
            <%=link_to feat.title, feat%>
          </b>
          <%=feat.getFirst(50) %>
          <br />
          <%=link_to 'Read More', feat%>
        </p>
      </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright Sora Havok</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->
</body>
<%= javascript_include_tag :application %>
<%= tinymce %>
</html>

